<html>
<body>

  <head>
    <link rel="stylesheet" href="/css/user.css">
  </head>



<html>
<body onload="myfunction()">




    
    
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a style="background-color: #d4a24c; color: white;" href="/user">Account</a>
        <a href="/add">Add</a>
        <div class="search-container">
    
            <input type="text" placeholder="Search.."  id="myInput">
            <button onClick="getInputValue()" >Search</button>
    
        </div>
    </div>
<br>
<div style="text-align:center">
<h1><%=name%></h1>    

<br>
<a href="/user/log_out">Log Out</a>
</div>
<script>
        function getInputValue() {
                    
                    var inputVal = document.getElementById("myInput").value;
                        
                        window.location.href = "http://localhost:3000/Search/"+inputVal;
                }
</script>

<br>
<br>

<div style="border:1px solid black"></div>

<a href="/user/votes">See Votes</a>




</body>
</html>