<html>
<body>

  <head>
    <link rel="stylesheet" href="/css/user.css">
  </head>



<html>
<body onload="myfunction()">




    
    
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a style="background-color: #d4a24c; color: white;" href="/user">Account</a>
        <a href="/add">Add</a>
        <div class="search-container">
    
            <input type="text" placeholder="Search.."  id="myInput">
            <button onClick="getInputValue()" >Search</button>
    
        </div>
    </div>
<br>
<div style="text-align:center">
<h1><%=name%></h1>    

<br>
<a href="/user/log_out">Log Out</a>
</div>
<script>
        function getInputValue() {
                    
                    var inputVal = document.getElementById("myInput").value;
                        
                        window.location.href = "http://localhost:3000/Search/"+inputVal;
                }
                
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
  function myfunction() {

    $.getJSON( "/user/votes.json", function( data){
      
        const searchKey = "<%=name%>"

      
        const searchResult = data.filter(({ name }) => name.toLowerCase() === searchKey.toLowerCase());


        const parentWrapper = document.querySelector('.wrapper');
        searchResult.forEach((el) => {
            const child = document.createElement('h1');
            child.textContent = el.id;
            parentWrapper.appendChild(child);
            const link = document.createElement('a')
            link.href="/Search/"+el.id
            link.textContent = "View"
            parentWrapper.appendChild(link)
        });
        
  });
  }
</script>

<br>
<br>

<div style="border:1px solid #d4a24c"></div>



<div style="padding-left: 50px;" class="wrapper"><div></div>


</body>
</html>